body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

.search-bar {
    margin-top: 20px;
}

#search-input {
    padding: 5px;
    border: 1px solid #ccc;
}

#search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}



main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.box {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box h2 {
    margin-top: 0;
}

.box p {
    margin: 10px 0;
}

.box a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .card {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.33% - 20px); 
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

  .container .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container .card:hover {
    height : 320px;    
  }
  
  
  .container .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .container .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }

  .content{
    font-size: 12px;
    line-height: 2px;
  }



@media (max-width: 768px) {
    .box {
        width: calc(50% - 20px);
    }
}


@media (max-width: 480px) {
    .box {
        width: 100%; 
    }
}